<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employeeManagemtSystem</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">system</property>
 
        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Mapped Entity -->
        <mapping class="com.empEanagementSys.Employee_management_system.Employee"/>
    </session-factory>
</hibernate-configuration>

